<footer class="mt-5 py-2 bg-dark navbar navbar-dark fixed-bottom center text-white">
    <div class="footer-center">
        <div class="copy">Hippolyte Thomas &copy; 2022</div>
        -
		<div class="version">Version: {{ constant('App\\Constants::VERSION') }}</div>
    </div>
</footer>