<div class="row text-center align-items-center flex-row-reverse">
    <div class="col-lg-auto ms-lg-auto">
		<div class="version">Version: {{ constant('App\\Constants::VERSION') }}</div>
    </div>
    <div class="col-12 col-lg-auto">
        <div class="copy">Hippolyte Thomas &copy; 2024</div>
    </div>
</div>