{% extends 'admin/base.html.twig' %}

{% block title %}Administration de À propos{% endblock %}

{% form_theme form 'admin/about_me/_picture.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="my-5">Gestion de mes informations</h1>
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>
{% endblock %}
