{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un tag {{ title_base }}{% endblock %}
{% block page_title %}Créer un tag{% endblock %}
{% block page_pretitle %}Articles{% endblock %}

{% block page_content %}
<div class="container mb-5">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer le tag</button>

    {{ form_end(form) }}
</div>
{% endblock %}
